---
import Layout from "../layouts/Layout.astro";

const errors = { name: "", password: "" };

if (Astro.request.method === "POST") {
  console.log(`RSVP POST eEceived`);

  const formData = await Astro.request.formData();
  const name = formData.get("name");
  const password = formData.get("password");
  console.log(`RSVP Login: ${name}, ${password}`);

  if (!name || typeof name !== "string") {
    errors.name = "Please enter your name";
  }

  if (name.length < 5) {
    errors.name = "Please enter your full name";
  }

  if (
    !password ||
    typeof password !== "string" ||
    password.toLowerCase() !== "eddy"
  ) {
    errors.password = "Incorrect password, give us a text!";
  }

  // TODO lookup code using search API, mock for now
  const code = name?.valueOf().toString().toUpperCase() || "";

  if (!code) {
    errors.name = "Not found, please try again";
  }

  const hasErrors = Object.values(errors).some((msg) => msg);
  if (!hasErrors) {
    return Astro.redirect(`/rsvp/${code}`);
  }
}
---

<Layout>
  <h2 class="font-bold text-lg text-center">RSVP</h2>
  <form action="/rsvp" method="POST">
    <div class="m-4">
      <label>
        Your name:
        <input name="name" class="border-2 rounded" type="text" />
      </label>
      {errors.name && <p>{errors.name}</p>}
    </div>
    <div class="m-4">
      <label>
        Password:
        <input name="password" class="border-2 rounded" type="text" />
      </label>
      {errors.password && <p>{errors.password}</p>}
    </div>
    <button class="font-bold text-lg text-center w-full" type="submit"
      >Enter</button
    >
  </form>
</Layout>
