---
import _ from "lodash";
import { type Row } from "../utils";

interface Props {
  people: Row[];
}

const { people } = Astro.props;
const codes = _.uniq(people.map((p) => p.code));
if (codes.length > 1) {
  return new Response("Sorry, you can only RSVP for one code at a time.");
}
const code = codes[0];

// We show the submit button after the accom question, if it renders
const hideSubmitButton = people.find(
  (p) => !!p.accommodation && !p.accommodation.includes(".")
);
---

<form class="mb-4" id="rsvp-form" action=`/rsvp/${code}` method="POST">
  {
    people.map(({ name, attending, diet }, i) => (
      <div class="m-2 mb-6 rounded p-2">
        <input type="hidden" name={`${i}.code`} value={code} />
        <input type="hidden" name={`${i}.name`} value={name} />

        <h2 class="text-lg font-bold">{name}</h2>
        <div class="m-2 flex gap-2">
          {/* justify-evenly */}

          {/* <!-- YES RADIO INPUT  --> */}
          <label
            class:list={[
              "cursor-pointer rounded p-2 has-[:checked]:bg-green-800 has-[:checked]:text-white",
              attending == "maybe"
                ? "bg-slate-200"
                : "has-[:not(:checked)]:line-through",
            ]}
          >
            I'll be there!
            <input
              class="hidden"
              value="yes"
              type="radio"
              name={`${i}.attending`}
              checked={attending == "yes"}
            />
          </label>

          {/* <!-- NO RADIO INPUT  --> */}
          <label
            class:list={[
              "cursor-pointer rounded p-2 has-[:checked]:bg-red-500",
              attending == "maybe"
                ? "bg-slate-200"
                : "has-[:not(:checked)]:line-through",
            ]}
          >
            I'll be square (not there)
            <input
              class="hidden"
              value="no"
              type="radio"
              name={`${i}.attending`}
              checked={attending == "no"}
            />
          </label>
        </div>

        {/* <!-- DIETARY INPUT  --> */}

        {attending == "yes" && (
          <input
            class="m-2 ml-2 rounded p-2 text-xs"
            aria-label="Dietary requirements"
            placeholder=">Dietary requirements"
            name={`${i}.diet`}
            value={diet}
            type="text"
          />
        )}
      </div>
    ))
  }

  <textarea
    class="m-2 w-2/3 rounded p-2 text-xs"
    aria-label="Mention anything we've forgotten to ask."
    placeholder="Notes"
    onchange="onChange()"
    name="note">{people.find((p) => p.note)?.note}</textarea
  >
  <!-- END OF FORM  -->

  {
    !hideSubmitButton && (
      <button
        class="mb-3 ml-4 rounded border p-1 text-sm font-bold"
        type="submit"
        onclick="onSubmit()"
      >
        Save
      </button>
    )
  }

  <script is:inline>
    // Highlight the button if there are changes
    document.querySelectorAll("input").forEach((input) => {
      input.addEventListener("change", onChange);
      input.addEventListener("blur", onChange);
    });

    function onChange() {
      document
        .querySelector("button")
        .classList.add(
          "!py-2",
          "!px-3",
          "!bg-green-900",
          "!text-white",
          "!text-base"
        );
    }
    function onSubmit() {
      const button = document.querySelector("button");
      button.classList.add("!bg-gray-400");
      button.textContent = "Loading...";
    }
  </script>
</form>
