---
import Layout from "../../layouts/Layout.astro";
const errors = { name: "", password: "" };

if (Astro.request.method === "POST") {
  console.log("RSVP POST Received");

  const formData = await Astro.request.formData();
  const name = formData.get("name");
  const password = formData.get("password");

  console.log(`Login Attempt: ${name}, ${password}`);

  if (!name || typeof name !== "string") {
    errors.name = "Please enter your name";
  } else if (name.length < 5 || !name.includes(" ")) {
    errors.name = "Please enter your full name";
  }

  if (!password || typeof password !== "string" || password.length < 2) {
    errors.password = "Please enter a password";
  } else if (password.toLowerCase() !== import.meta.env.PASSWORD) {
    errors.password = "Incorrect password, sorry! Give Marnie/Luke a text!";
  }
  // TODO lookup code using search API, mock for now
  const code = name?.valueOf().toString().toUpperCase() || "";

  if (!code) {
    errors.name = "Not found, please try again";
  }

  const hasErrors = Object.values(errors).some((msg) => msg);
  if (hasErrors) {
    console.error(`RSVP Login Failed: ${name}, ${password}`);
  } else {
    console.log(`RSVP Login Succeed: ${name}, ${code}`);
    return Astro.redirect(`/rsvp/${code}`);
  }
}
---

<Layout>
  <form
    action="/rsvp"
    method="POST"
    class="flex h-full w-full flex-col items-center justify-around pb-24 pr-4 pt-12 align-middle sm:h-3/4"
  >
    <h2 class="text-xl font-bold">Login</h2>
    <div>
      <label class="block" for="name">Name</label>
      <input name="name" type="text" />
      {errors.name && <p class="text-sm text-red-400">{errors.name}</p>}
    </div>

    <div>
      <label class="block" for="password"> Password </label>
      <input name="password" type="text" />
      {errors.password && <p class="text-sm text-red-400">{errors.password}</p>}
    </div>

    <button
      class="rounded border bg-green-900 p-2 text-lg font-bold text-white"
      type="submit"
    >
      Enter
    </button>
  </form>
</Layout>
